main {
  width: 100%;
  height: 80vh;

  padding: 50px 0;
}

.title {
  font-size: xx-large;
  color: white;
}

/* Flex Configs */

.flex-row {
	flex-direction: row;
}

/* Flex Container */
.flex-container {
	width: 100%;
	margin: 0;
  display: flex;
  justify-content: space-evenly;
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: auto 0px;
}

footer {
  border-top: 1px solid #000;
  height: 20vh;
  color: white;

  display: block;
  padding: 0.5rem;
  font-size: small;
}

footer a {
  color: white;
  text-decoration: underline;
  text-transform: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
  text-transform: none;
}