@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

@import url('assets/css/small.css');

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  
  font-family: 'PT Serif Caption', serif !important;

  max-width: 500px;
  max-height: 200px;
  /* height: 100vh; */
}

#transmissao {
  display: none;
}

svg {
  flex: 1;
  width: 16px;
  height: 16px;
}